body {
    background: linear-gradient(135deg, #ffffff 40%, #f0f0f0 100%);
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: #1F2D3D; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-menu {
    max-width: 300px; 
    overflow-wrap: break-word; 
  }
  
  .navbar-nav .dropdown-menu {
    right: 0;
    left: auto; 
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #1F2D3D; 
    margin: 20px 0;
  }
  
  .header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #4D7EA8; 
  }
  
  .navbar {
    background-color: #ffffff;
  }
  
  .nav-link {
    color: #D67E2D; 
  }
  
  .nav-link:hover {
    color: #1F2D3D; 
  }
  
  button {
    background-color: #4D7EA8; 
    color: #F0F4F8;
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1F2D3D; 
  }
  
  .bg-cover {
    background: linear-gradient(135deg, #ffffff 40%, #f7f7f7 100%);
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  .header, .navbar, .footer {
    border-top: 3px solid #D67E2D; 
  }
  
  @media (max-width: 576px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .actions-btn {
        display: flex;
        justify-content: center;
    }
}