body {
  background: linear-gradient(135deg, #ffffff 40%, #f0f0f0 100%);
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #1F2D3D; 
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding: 1rem; 
  background-color: #DABFFF; 
}

.navbar-brand {
  color: #6A0DAD; 
  font-size: 2.5rem; 
  margin-right: 0.2rem; 
}

.navbar-nav {
  margin: 0 6rem; 
}

.navbar-brand i, .navbar-nav .nav-link i, .dropdown-menu .dropdown-item i {
  color: #6A0DAD; 
  font-size: 2.5rem;
  margin-right: 4px; 
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover, .dropdown-menu .dropdown-item:hover {
  color: #4B0082; 
}

.dropdown-menu {
  background-color: #F3E5FF; 
  border: none;
}

.dropdown-menu .dropdown-item {
  color: #6A0DAD; 
}

.dropdown-menu .dropdown-item:hover {
  background-color: #E0C3FF; 
}


.navbar-toggler {
  border-color: #893bc2; 
}

.navbar-toggler-icon {
  background-color: #E0C3FF; 
}

.header, .navbar, .footer {
  border-top: 3px solid #6A0DAD; 
}

.masthead .container .row {
  display: flex;
  flex-wrap: wrap;
}

.masthead .col-lg-6:first-child {
  order: 1;
}

.masthead .col-lg-6:last-child {
  order: 2;
}

.svg-icon {
  width: 46px;
  height: auto;
  vertical-align: middle; 
  margin-left: 8px; 
}

.text-center {
  color: #4B0082;
}

.form-control {
  color: #020102;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8f5cb4;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s
}

.btn-warning, .btn-danger {
  width: 4.5rem;
}

@media (max-width: 992px) {
  .device-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
  }

  .device {
      width: 100%;
  }

  .device .screen {
      width: 100%;
      height: auto;
  }

  .masthead .container .row {
      flex-direction: column-reverse;
  }

  .masthead .col-lg-6:first-child {
      order: 2;
      margin-top: 1rem;
  }

  .masthead .col-lg-6:last-child {
      order: 1;
      margin-bottom: 0.5rem;
  }

  .masthead .app-badge {
      width: 150px;
  }
}

@media (max-width: 576px) {
  .bg-cover {
      overflow: auto;
  }

  .display-1 {
    font-size: 2rem;
  }

  .lead {
    font-size: 0.95rem;
    font-weight: 200;
  }

  .device-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
  }

  .device {
      width: 100%;
  }

  .masthead {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .masthead .container .row {
      flex-direction: column;
  }

  .masthead .col-lg-6:first-child {
      order: 2;
      margin-top: 0.5rem;
  }

  .masthead .col-lg-6:last-child {
      order: 1;
      margin-bottom: 0.5rem;
  }

  .masthead .device-wrapper {
      display: flex;
      justify-content: center;
  }

  .masthead .app-badge {
      width: 150px;
  }
}

.table thead {
  display: none;
}

.table, .table tbody, .table tr, .table td {
  display: block;
  width: 100%;
}

.table tr {
  margin-bottom: 15px;
}

.table td {
  text-align: right;
  padding-left: 75%;
  position: relative;
}

.table td::before {
  content: attr(data-label);
  position: absolute;
  left: 15px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

.actions-btn {
  display: flex;
  justify-content: center;
}
